.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    border: solid 3px black;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }

body {
    font-family: Rubik, sans;
    background-color: lightgrey;
}

.container {
    background-color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

#capText{
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}

.evolvingskiessection {
    display: flex;
    flex-direction: row;
    background-color:lightskyblue;
    justify-content: space-evenly;
    max-width: 9000px;
    height: 700px;
}

.evolvingskieslead {
    background-image: url(images/rayquaza.jpg);
    background-repeat: no-repeat;
    background-position-x: -350px;
    background-position-y: -300px;
    width: 25%;
}

#evolvingskiesheader {
    border: solid 3px black;
    background-color: white;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    margin: 50px;
}
#evolvingskiessleeves {
    padding: 20px;
    border: solid 3px black;
    width: 20%;
    height: 50%;
    align-self: center;
    overflow: hidden;
}

#evolvingskiesetb {
    padding: 20px;
    border: solid 3px black;
    width: 20%;
    height: 50%;
    align-self: center;
    overflow: hidden;
}

#evolvingskiesboosterbox {
    padding: 20px;
    border: solid 3px black;
    width: 20%;
    height: 50%;
    align-self: center;
    overflow: hidden;
}

.footer {
    padding: 40px;
    background: #b9bebd;
    border: solid 3px black;
    color: light-grey;
    font-family: sans-serif;
}
